/**
 * @name Better Refresh
 * @description Make Discord Visual Refresh a little bit better
 * @author cafeed28
 * @version 1.0.0
 * @source https://github.com/cafeed28/better-visual-refresh/blob/main/better-refresh.css
 * @authorId 402784497290051594
*/

/**
 * ICON SIZE FIXES
 */

/* inbox button */
.c99c29809d200a61-clickable > svg {
  width: var(--chat-input-icon-size);
  height: var(--chat-input-icon-size);
}

/* chat input attach button */
._0923f156a0410684-attachButtonInner > svg {
  width: var(--chat-input-icon-size);
  height: var(--chat-input-icon-size);
}

/* chat input app icon (in place of attach button) */
._4d3a93bb8f6e0dd9-icon svg {
  width: var(--chat-input-icon-size);
  height: var(--chat-input-icon-size);
}

/* chat input buttons lottie */
._5eb9b3cc7c2b1ce8-lottieIcon {
  width: var(--chat-input-icon-size) !important;
  height: var(--chat-input-icon-size) !important;
}

/**
 * VARIABLE FIXES
 */

/* make app icon behave somewhat like attach button */
._4d3a93bb8f6e0dd9-icon {
  padding: var(--space-12) var(--space-md) !important;
}

/* smaller paddings in context menus */
:where(.visual-refresh) .c1e9c47c23f12ca3-labelContainer {
  padding: 6px;
}

/* disable fade animation when switching between images in new media viewer */
._5cd4440e78ca4a65-base {
  animation: none;
  opacity: 1;
}

.visual-refresh {
  /**
   * FLOATING PANEL
   */

  /* floating panel over channels list */
  ._5e434347c823b592-panels {
    left: calc(var(--space-xs) + var(--custom-guild-list-width));
    width: calc(100% - var(--custom-guild-list-width) - var(--space-xs) * 2);
  }

  /* remove gap in server list because of moved floating panels */
  ._5e434347c823b592-guilds {
    margin-bottom: 0;
  }

  /* restore text-sm instead of text-md for username, activity name, voice rtc status */
  ._37e49614b9f110a9-panelTitleContainer div,
  ._8c6c22ea0d0f0ea2-clickableGameName div,
  ._06d6249a1f2584ac-rtcConnectionStatusLabel div {
    /* copied from cf48127484dbde85-text-sm/medium */
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
  }

  /**
   * CHAT INPUT
   */

  /* less gap between chat input and messages */
  ._36d072eab2b2e737-scrollerSpacer {
    height: var(--space-26);
  }

  /* old height of chat input */
  --custom-channel-textarea-text-area-height: 42px;
  ._740174f3d6a2c8fe-channelTextArea {
    /*
      66px: from bottom of window to top of floating panel
      2px: chat input border
      */
    --custom-chat-input-margin-bottom: calc(66px - 2px - var(--custom-channel-textarea-text-area-height));
  }

  /* enlarge margin of textarea */
  .f75fb00fb7356cbe-form {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }

  /* fix attach button wrapper padding to be dynamic for text area height */
  ._0923f156a0410684-attachWrapper {
    padding: calc((var(--custom-channel-textarea-text-area-height) - 32px) / 2) calc(var(--space-md) - 6px);
  }

  /* less gap after attach button */
  ._0923f156a0410684-attachButton, ._4d3a93bb8f6e0dd9-icon {
    margin-right: 3px !important;
  }

  ._36d072eab2b2e737-chatTypingGradientAtBottom, ._36d072eab2b2e737-chatTypingGradientNotAtBottom {
    display: none;
  }

  /**
   * MISC
   */

  /* fix margins on unreads bar (LMAO) */
  ._0f481cbbd7530492-barBase {
    left: var(--space-8);
    right: var(--space-8);
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }
  
  /* fix misaligned width of channel scroller content and floating panel */
  ._629e4c86564a4ee7-scroller {
    margin-right: 0;
  }
}

/* move typing indicator under the chat input */
.b8880176888cc928-inTextChannel.b8880176888cc928-base {
  top: unset;
  bottom: 0px;
}

.b8880176888cc928-inTextChannel {
  /* align to left (margin of 8px remains, i like it) */
  .b8880176888cc928-text {
    margin-left: 0px;
  }

  /* i hate typing indicator */
  .b8880176888cc928-typingDots svg {
    display: none;
  }
}
