.reaction__23977 .reactionLarge {
    width: 1rem;
    height: 1rem;
}
.largeReactionBtn__23977 {
    width: 1rem;
    height: 1rem;
}
.largeIcon__23977 {
    width: 1rem;
    height: 1rem;
}
.largeReactionBtn__23977.forceShow__23977 {
    padding: .25rem .375rem;
}
