/**
 * @name Small reactions
 * @description Revert reactions size change
 * @author cafeed28
 * @version 1.0.0
 * @source https://github.com/cafeed28/better-visual-refresh/blob/main/small-reactions.css
 * @authorId 402784497290051594
*/

._23977d5b7cef7361-reaction .emoji {
    width: 1rem;
    height: 1rem;
}

._23977d5b7cef7361-reactionBtn {
    width: 1rem;
    height: 1rem;
}

._23977d5b7cef7361-icon {
    width: 1rem;
    height: 1rem;
}

._23977d5b7cef7361-reactionBtn._23977d5b7cef7361-forceShow {
    padding: .25rem .375rem;
}
